<header>
<nav class="row navigations">
  <a class="col-lg-2" routerLink="/dashboard" [routerLinkActive]="'active'">Dashboard</a>
  <a class="col-lg-2" routerLink="/recommendation" [routerLinkActive]="'active'">Recommendations</a>
  <a class="col-lg-2" routerLink="/behavior" [routerLinkActive]="'active'">Behavior</a>
  <a class="col-lg-2" routerLink="/reports" [routerLinkActive]="'active'">Reports</a>
  <a class="col-lg-2" routerLink="/contacts" [routerLinkActive]="'active'">Contacts</a>
  <a class="col-lg-2" routerLink="/trends" [routerLinkActive]="'active'">Trends</a>
</nav>
</header>
