<header>
<nav class="row navigations">
  <a class="col-lg-2" routerLink="/dashboard" [routerLinkActive]="'active'">Dashboard <span class="arrow-up"></span></a>
  <a class="col-lg-2" routerLink="/recommendation" [routerLinkActive]="'active'">Recommendations<span class="arrow-up"></span></a>
  <a class="col-lg-2" routerLink="/behavior" [routerLinkActive]="'active'">Behavior<span class="arrow-up"></span></a>
  <a class="col-lg-2" routerLink="/reports" [routerLinkActive]="'active'">Reports<span class="arrow-up"></span></a>
  <a class="col-lg-2" routerLink="/contacts" [routerLinkActive]="'active'">Contacts<span class="arrow-up"></span></a>
  <a class="col-lg-2" routerLink="/trends" [routerLinkActive]="'active'">Trends<span class="arrow-up"></span></a>
</nav>
</header>
