.headsup{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}
.companyLogo{text-align:center;}
.titleof{text-shadow: 3px 4px 3px #DDD;padding-top:3px;color:cyan}
.userlogn{text-align:right;padding:5px;}
.userlogn nav a{margin-left:10px;color:#FFF}

